# Python cache
__pycache__/
*.py[cod]
*.pyo

# Notebooks
*.ipynb

# Data and output
data/
output/
logs/


*.bin
*.pt 
*.txt

# OS-specific
.DS_Store
Thumbs.db

# Non-complate scripts
train/rlhf_trainer.py